.about {
  border-radius: 0 0 30px 30px;
  background-color: rgb(@blue_background);
  z-index: 11;
  margin-top: -356px;

  @media (min-width: @tablet-width) {
    border-radius: 0 0 60px 60px;
    z-index: 9;
    margin-top: -1px;
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    background-color: rgb(@blue_background_tablet);
  }

  @media (min-width: @desktop-width) {
    margin-top: -54px;
    border-radius: 0 0 56px 56px;
  }
}

.about__container {
  min-height: 674px;
  margin-top: -42px;
  padding-top: 31px;
  padding-bottom: 70px;
  background: url("../img/about-mobile.png") no-repeat 20px 321px, url("../img/back.svg") no-repeat 0 321px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media (min-width: @tablet-width) {
    margin-top: -15px;
    padding-top: 33px;
    padding-bottom: 80px;
    min-height: 785px;
    background: url("../img/about_tablet.png") no-repeat 378px 149px, url("../img/back_about_tablet.svg") no-repeat 34px 81px;
  }

  @media (min-width: @desktop-width) {
    display: block;
    margin-top: 0;
    padding-top: 95px;
    min-height: 804px;
    background: url("../img/about_desktop.png") no-repeat 748px 139px, url("../img/back_about_desktop.svg") no-repeat 58px 124px;
  }
}
