.alphabet {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgb(@basic_blue_light);
}

.alphabet__item {
  &:hover {
    background-color: rgb(@light_gray);
  }

  &--active {
    background-color: rgb(@light_gray);
  }
}
