.contacts__link {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: rgb(@blue_background);
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    color: rgb(@special_yellow_dark);
  }

  &:active {
    color: rgba(@special_yellow_dark, 0.3);
  }

  &--bottom {
    color: rgb(@basic_yellow);
  }
}
