.container {
  width: 270px;
  margin: 0 auto;
  padding: 0 25px;
}

.container--options {
  background-image: url("../img/globe-back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 0 10px;
}


.container--travelers {
  padding-top: 68px;
  background-image: url("../img/smolov-back-desktop.png");
  background-repeat: no-repeat;
  background-position: 130px 30px;
}
