.direction {
  padding-top: 71px;
  padding-bottom: 34px;
  background-color: rgb(@light_gray);
}

.direction__wrapper {
  @media (min-width: @desktop-width) {
    max-width: 360px;
  }
}

.direction__list {
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
}

.direction__description {
  background-color: rgb(@white);
}
