.feedback {
  padding-top: 93px;
  padding-bottom: 24px;
  background-color: rgb(@blue_background);
  z-index: 5;
  margin-top: -50px;
  border-radius: 0 0 30px 30px;

  @media (min-width: @tablet-width) {
    padding-bottom: 43px;
    border-radius: 0 0 60px 60px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 57px;
  }
}

.feedback__container {
  min-height: 409px;

  @media (min-width: @tablet-width) {
    min-height: 600px;
  }

  @media (min-width: @desktop-width) {
    min-height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.feedback__link-wrapper {
  margin-right: -4px;

  @media (min-width: @tablet-width) {
    margin-right: -18px;
  }

  @media (min-width: @desktop-width) {
    margin-right: -20px;
  }
}

.feedback__link {
  color: rgb(@basic_yellow);
  border-bottom: rgb(@basic_yellow) solid 1px;
  text-decoration: none;

  &:hover {
    color: rgb(@special_orange);
    border-bottom: rgb(@special_orange) solid 1px;
  }

  &:active {
    color: rgba(@special_orange, 0.3);
    border-bottom: rgba(@special_orange, 0.3) solid 1px;
  }
}

.feedback__mail {
  display: flex;

  @media (min-width: @tablet-width) {
    justify-self: start;
  }

  @media (min-width: @desktop-width) {
    width: 1180px;
  }
}

.feedback__input {
  font-family: inherit;
  border: rgb(@white) solid 4px;
  font-style: inherit;
  font-weight: inherit;
  font-size: 18px;
  line-height: 18px;
  width: 230px;
  height: 62px;
  border-radius: 10px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 22px;
  padding-left: 21px;
  position: absolute;

  @media (min-width: @tablet-width) {
    width: 536px;
    height: 80px;
    margin-left: 36px;
    border-radius: 20px 0 0 20px;
    padding: 20px 31px;
    padding-top: 17px;
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 850px;
    height: 81px;
    margin-left: 3px;
  }

  &::-webkit-input-placeholder {
    color: rgba(@special_grey, 0.3);
    font-size: 18px;
    line-height: 18px;

    @media (min-width: @tablet-width) {
      font-size: 24px;
      line-height: 24px;
    }
  }

  &:hover::-webkit-input-placeholder {
    color: rgba(@special_grey, 0.5);
  }

  &:focus::-webkit-input-placeholder {
    color: rgb(@white);
  }

  &:hover {
    border: rgb(@light_gray) solid 4px;
    background-color: rgb(@light_gray);
  }

  &:focus {
    outline: none;
    color: rgb(@white);
    background-color: rgb(@blue_background);
  }

  &:invalid {
    color: rgb(@red);
  }
}


.feedback__button {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: 24px;
  line-height: 24px;
  background-color: rgb(@basic_yellow);
  border: none;
  outline: none;
  color: rgb(@basic_blue_light);
  width: 60px;
  height: 62px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  z-index: 2;
  margin-left: auto;

  @media (min-width: @tablet-width) {
    width: 80px;
    height: 80px;
    border-radius: 0 20px 20px 0;
    right: 36px;
  }

  @media (min-width: @desktop-width) {
    right: 3px;
    width: 324px;
    height: 81px;
    text-align: left;
    padding-left: 35px;
  }

  &:hover {
    background-color: rgb(@special_yellow_dark);
  }

  &:active {
    color: rgba(@basic_blue_light, 0.3);
  }

  &::after {
    position: absolute;
    content: "";
    width: 14px;
    height: 16px;
    background-image: url("../img/button-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    right: 21px;
    top: 24px;


    @media (min-width: @tablet-width) {
      top: 33.5px;
      right: 32px;
    }

    @media (min-width: @desktop-width) {
      top: 32px;
      right: 33.5px;
    }
  }

  &:active::after {
    opacity: 0.3;
  }
}

.feedback__button-content {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline;
  }
}
