.hobbies__title {
  text-transform: uppercase;
  color: rgb(@basic_blue_light);
  position: relative;
  top: 9px;
  left: 100px;
  width: 70px;
  background-color: rgb(@light_gray);
  display: block;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
    width: 82px;
    top: 115px;
    left: 303px;
    padding-right: 1px;
  }


  @media (min-width: @desktop-width) {
    left: 54px;
    top: 110px;
    letter-spacing: 0.07em;
  }
}

.hobbies__text {
  font-family: inherit;
  font-style: inherit;
  font-weight: 400;
  font-size: inherit;
  line-height: inherit;
  resize: none;
  background-color: transparent;
  border: 1px solid rgb(@hobbies_border_grey);
  border-radius: 10px;
  color: rgba(@special_grey, 0.6);
  width: 270px;
  padding: 26px 27px 25px 23px;

  @media (min-width: @tablet-width) {
    width: 618px;
    min-height: 93px;
    margin-top: 12px;
    font-size: 20px;
    line-height: 22px;
    padding-top: 32px;
    padding-bottom: 17px;
    padding-left: 39px;
  }


  @media (min-width: @desktop-width) {
    margin-top: 5px;
    width: 732px;
  }

  &:hover {
    border: 1px solid rgb(@hobbies_border_hover);
  }

  &:focus {
    border: 1px solid rgb(@basic_blue);
    outline: none;
    color: rgb(@special_grey);
  }
}
