.item-direction__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: rgb(@black);
  text-decoration: none;
}

.item-direction__amount {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: rgba(@basic_blue, 0.3);
}

.item-direction__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: rgba(@special_grey, 0.3);
}
