.level {
  color: rgb(@white);
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  background-color: rgba(@black, 0.6);
  width: 60px;
  height: 60px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 17px;
  left: 17px;
  padding-top: 12px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;

  &--catalog {
    background-color: rgb(@white);
    color: rgb(@basic_blue_light);
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
  }

  &--desktop {
    display: none;
    background-color: transparent;
    color: rgba(@black, 0.4);

    @media (min-width: @tablet-width) {
      display: inline;
    }
  }

  @media (min-width: @tablet-width) {
    top: 20px;
    left: 22px;
  }

  &--form {
    background-color: transparent;
    font-size: 18px;
    line-height: 18px;
    color: inherit;
    position: relative;
    top: 6px;
    left: 36px;

    @media (min-width: @tablet-width) {
      top: 49px;
      left: 52px;
    }

    @media (min-width: @desktop-width) {
      top: -163px;
      left: 117px;
      z-index: 10;
      color: rgb(@white);
    }
  }
}

.level__progress {
  position: absolute;
  top: 0;
  left: 0;

  &--form {
    top: -9px;
    left: -24px;

    @media (min-width: @tablet-width) {
      transform: scale(0.92);
      top: -14px;
      left: -25px;
    }

    @media (min-width: @desktop-width) {
      transform: scale(0.93);
      top: -14px;
    }
  }
}

.level__progress-circle {
  transform-origin: center;
  transform: rotate(-90deg);
}
