.main-nav {
  background-color: rgb(@white);
  position: absolute;
  min-height: 568px;
  min-width: 320px;
  z-index: 13;
  left: 0;
  top: -8px;
  padding: 35px 25px;
  display: none;

  @media (min-width: @tablet-width) {
    top: -14px;
    width: 768px;
    min-height: 911px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    min-height: 90px;
    height: 91px;
    background-color: transparent;
    padding: 0;
    display: block;
  }
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 39px;
  min-height: 409px;

  @media (min-width: @tablet-width) {
    display: flex;
    margin-top: 50px;
    margin-left: 72px;
  }

  @media (min-width: @desktop-width) {
    min-height: 90px;
    flex-direction: row;
    margin: 0;
  }
}
