.marker {
  @media (min-width: @desktop-width) {
    display: none;
  }

  &--desktop {
    display: none;

    @media (min-width: @desktop-width) {
      display: block;
      grid-row: 1;
      grid-column-start: 3;
      grid-column-end: 4;
    }
  }
}

.marker__item-desktop {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(@black, 0.6);

  &--active {
    color: rgb(@black);
  }
}
