.options {
  background-color: rgb(@basic_blue);
}

.options__slogan {
  margin-top: 0;
  font-size: 36px;
  line-height: 40px;
  color: rgb(@white);
}

.options__image {
  position: relative;
  top: 45px;
  left: 40px;
}

.options__link--call {
  background-color: rgb(@special_orange);
}

.options__link--mail {
  background-color: rgb(@special_yellow_dark);
}

.options__link--login {
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: rgb(@basic_yellow);
  color: rgb(@basic_blue);
  text-decoration: none;
  position: relative;
  z-index: 1;

  &:hover {
    background-color: rgb(@special_yellow_dark);
  }

  &:active {
    color: rgba(@basic_blue, 0.3);
  }
}

.options__list-wrapper {
  background-color: rgb(@blue_background);
  padding-bottom: 72px;
}

.options__list {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: rgb(@basic_blue);
  list-style: none;
  position: relative;
  top: -18px;
}

.options__item--number-1 {
  background-color: rgb(@special_orange);
}

.options__item--number-2 {
  background-color: rgb(@basic_orange);
}

.options__item--number-3 {
  background-color: rgb(@special_yellow_dark);
}

.options__item--number-4 {
  background-color: rgb(@basic_yellow);
}
