.options {
  background-color: rgb(@basic_blue);

  &--middle-nav {
    background-color: rgb(@white);
  }
}

.options__slogan {
  margin-top: 0;
  font-size: 36px;
  line-height: 40px;
  color: rgb(@white);
  width: 238px;
}

.options__image {
  position: relative;
  top: 45px;
  left: 40px;
}

.options__link {
  @media (min-width: @tablet-width) {
    display: none;
  }

  &--call {
    background-color: rgb(@special_orange);
  }

  &--mail {
    background-color: rgb(@special_yellow_dark);
  }

  &--login {
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
    background-color: rgb(@basic_yellow);
    color: rgb(@basic_blue);
    text-decoration: none;
    position: relative;
    z-index: 1;

    &:hover {
      background-color: rgb(@special_yellow_dark);
    }

    &:active {
      color: rgba(@basic_blue, 0.3);
    }
  }

  &--call-header {
    display: none;

    @media (min-width: @desktop-width) {
      display: block;
    }
  }

  &--mail-header {
    display: none;

    @media (min-width: @desktop-width) {
      display: block;
    }
  }

  &--login-header {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
    }
  }
}

.options__list-wrapper {
  background-color: rgb(@blue_background);
  padding-bottom: 72px;
}

.options__list {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: rgb(@basic_blue);
  list-style: none;
  position: relative;
  top: -18px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.options__item--number-1 {
  background-color: rgb(@special_orange);
}

.options__item--number-2 {
  background-color: rgb(@basic_orange);
}

.options__item--number-3 {
  background-color: rgb(@special_yellow_dark);
}

.options__item--number-4 {
  background-color: rgb(@basic_yellow);
}
