.page-main__header {
  background-color: rgb(@basic_blue);
  padding-bottom: 10px;
}

.page-main__title {
  color: rgb(@white);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  margin-top: 0;
}
