.page-footer {
  padding-top: 37px;
  padding-bottom: 27px;
  background-color: rgb(@white);
  grid-row: 4/1;
}

.page-footer__container {
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
