.pagination {
  margin-top: 18px;
  margin-bottom: 48px;
}

.pagination__button {
  background-color: rgb(@white);
  height: 51px;
  width: 135px;
  display: inline-block;

  &--last {
    border-radius: 20px 0 0 20px;
  }

  &--next {
    border-radius: 0 20px 20px 0;
  }
}
