.profile {
  background-color: rgb(@light_gray);
  padding-top: 18px;
  padding-bottom: 34px;
  margin-top: -20px;
  min-height: 466px;

  @media (min-width: @tablet-width) {
    padding-top: 77px;
    min-height: 560px;
    padding-bottom: 118px;
    margin-top: -55px;
  }

  @media (min-width: @desktop-width) {
    min-height: 300px;
    margin-top: -45px;
    padding-top: 67px;
    padding-bottom: 100px;
  }
}

.profile__container {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: auto 1fr auto;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: auto auto auto auto auto auto;
  }
}

.profile__level {
  @media (min-width: @desktop-width) {
    grid-row: 1;
    grid-column-start: 4;
    grid-column-end: 5;
    text-align: right;
  }
}

.profile__image {
  border-radius: 70px;
  margin-top: 2px;
  margin-left: auto;
  margin-right: 18px;

  @media (min-width: @tablet-width) {
    grid-row: 1;
    grid-column-start: 3;
    grid-column-end: 4;
    margin-top: 44px;
    margin-right: 35px;
    width: 94px;
    height: 94px;
    border-radius: 7px;
  }

  @media (min-width: @desktop-width) {
    grid-row: 1;
    grid-column-start: 5;
    grid-column-end: 6;
    width: 190px;
    height: 190px;
    border-radius: 0;
    position: relative;
    top: -212px;
    margin-right: 57px;
    z-index: 10;
    margin-top: 0;
  }
}

.profile__change-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.profile__change-label {
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgb(@basic_blue);
  background-color: rgb(@special_blue_light);
  cursor: pointer;
  text-align: center;
  margin-top: 18px;
  margin-bottom: 15px;
  width: 270px;
  min-height: 40px;
  border-radius: 40px;
  padding: 10px 67px 12px 68px;

  @media (min-width: @tablet-width) {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    max-width: 618px;
    align-self: flex-end;
    justify-self: center;
    width: 618px;
    border-radius: 10px;
    min-height: 60px;
    margin-top: 51px;
    margin-bottom: 20px;
    letter-spacing: 0.09em;
    padding-top: 20px;
  }

  @media (min-width: @desktop-width) {
    grid-row: 2;
    grid-column-start: 5;
    grid-column-end: 6;
    width: 190px;
    position: relative;
    min-height: 80px;
    top: -263px;
    left: 51px;
    border-radius: 0 0 10px 10px;
    padding-top: 48px;
    letter-spacing: normal;
    margin-top: 18px;
    margin-bottom: 27px;
  }

  &:hover {
    background-color: rgb(@special_blue_hover);
  }

  &:active {
    background-color: rgb(@special_blue_light);
    color: rgba(@basic_blue, 0.3);
  }
}

.profile__change-text {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.profile__hobbies {
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    position: relative;
    top: -164px;
    left: 32px;
  }
}

.profile__transport {
  width: 270px;
  min-height: 63px;
  position: relative;

  @media (min-width: @tablet-width) {
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: flex-end;
    justify-self: center;
    min-height: 95px;
    margin-bottom: -1px;
    margin-left: 65px;
    width: 308px;
  }

  @media (min-width: @desktop-width) {
    grid-row: 3;
    grid-column-start: 5;
    grid-column-end: 6;
    align-self: flex-start;
    top: -263px;
    left: 49px;
    margin-left: 0;
    width: 384px;
    min-height: 93.5px;
  }
}
