.quote-options {
  background-color: rgb(@basic_blue);
  position: relative;
  margin: 0;
  margin-bottom: 25px;
  padding: 31px 40px;
  min-width: 320px;
  height: 248px;
  top: -20px;
  left: -25px;
  z-index: 2;

  @media (min-width: @tablet-width) {
    background-color: transparent;
    top: -217px;
    left: -4px;
  }

  @media (min-width: @desktop-width) {
    width: 264px;
    align-self: flex-end;
    justify-self: top;
    top: -258px;
    left: 21px;
    padding: 0;
  }
}
