.quote-options {
  background-color: rgb(@basic_blue);
  position: relative;
  z-index: 1;
  margin: 0;
  margin-bottom: 25px;
  padding: 0 40px;
  width: 100%;
  left: -25px;

  @media (min-width: @desktop-width) {
    width: 264px;
    align-self: flex-end;
  }
}
