.step {
  background-color: rgb(@white);
}

.step__title {
  font-size: 20px;
  line-height: 20px;
  color: rgb(@basic_blue_light);
}

.step__description {
  font-weight: 400;
  line-height: 22px;
}

.step__label-quantity {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: rgb(@basic_blue_light);
}

.step__abbreviation {
  color: rgba(@basic_blue_light, 0.3);
  letter-spacing: 0.07em;
}

.step__minus,
.step__plus {
  background-color: transparent;
  border: none;
  outline: none;
}

.step__quantity-input {
  font-weight: 500;
  font-size: 14.86px;
  line-height: 14px;
  font-family: inherit;
  text-transform: uppercase;
  border: 1px solid rgb(@hobbies_border_grey);
  border-radius: 4px;
  outline: none;

  &:hover {
    border: 1px solid rgb(@step_border_hover);
  }

  &:focus {
    border: 1px solid rgb(@basic_blue);
  }
}

.step__checkbox-kids {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.step__with-kids {
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: rgb(@basic_blue_light);
}
