.transport {
  border: 1px solid rgb(@hobbies_border_grey);
  border-radius: 10px;

  &:hover {
    border: 1px solid rgb(@hobbies_border_hover);
  }
}

.transport__title {
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(@basic_blue_light);
}

.transport__marker {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
