@white: 255, 255, 255;
@black: 0, 0, 0;
@red: 255, 0, 0;
@hover_orange: 242, 105, 38;
@basic_orange: 255, 165, 48;
@special_orange: 255, 141, 48;
@basic_yellow: 255, 215, 75;
@active_yellow: 243, 199, 43;
@special_yellow_dark: 255, 189, 48;
@blue_business: 19, 37, 118;
@blue_contacts: 18, 25, 54;
@blue_background: 25, 33, 68;
@basic_blue: 22, 28, 53;
@dark_blue: 16, 29, 65;
@basic_blue_light: 29, 46, 91;
@special_blue_light: 223, 227, 240;
@special_blue_hover: 209, 215, 233;
@special_grey: 68, 68, 68;
@hobbies_border_grey: 203, 206, 217;
@hobbies_border_hover: 174, 180, 203;
@gray_background: 230, 232, 241;
@gray_business: 243, 244, 248;
@border_gray: 225, 227, 233;
@border_footer_gray: 225, 227, 233;
@light_gray: 237, 239, 246;
@special_grey: 68, 68, 68;
@offline: 249, 118, 118;
@online: 129, 227, 30;
@add_plan_background: 212, 217, 235;
@step_border_hover: 149, 155, 178;
@red_weekend: 255, 92, 35;
@red_border: 244, 126, 126;
@filter_background: 226, 229, 242;
@filter_close: 214, 218, 237;
@filter_close_hover: 200, 206, 232;
